<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Generate new code</h1>
    <form action="/generate" method="POST">
      <label>Name:<input type="text" name="name" required /></label>
      <label
        >Roll number:<input type="text" name="rollNumber" required
      /></label>
      <labal>Event name:<input type="text" name="eventName" required /></labal>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
